<div class="page-header">
  <nav class="navbar">
    <div class="content">
      <div>
        <a class="logo" href="/">
          <img
            src="/images/square-logo.jpg"
            alt="Safe Streets Halton"
          /> 
        </a>
      </div>
      <div>
        <a href="{{ site.baseurl }}/articles">Articles</a>
        <a href="/get-involved">Get Involved</a>
        <a href="/resources">Resources<a/>
      </div>
      <div>
        <a href="/volunteer">Volunteer</a>
        <a href="/membership">Membership</a>
        <a href="/donate">Donate</a>
      </div>
    </div>
  </nav>

  <div class="hero">
    <div class="content">
      {% if include.image %}
      <img
        data-show-pride
        class="hero-lucy wide-only"
        src="{{ include.image }}"
        alt="{{ include.alt }}"
      />
      {% endif %}
      <div class="text">{{ include.content }}</div>
    </div>
    <img
      class="home-waves"
      src="/images/waves.svg"
      alt="a soft wavey boundary between two sections of the website"
    />
  </div>
</div>
